@import "tailwindcss";

@theme {
  --color-primary: #fff4f1;
  --color-solid: #dc583e;
  --color-solidOne: #ac2c28;
  --color-solidTwo: #fd872f;
  --color-tertiry: #d95942;
  --color-gray-50: #7d7d7d;
}
html,
body {
  background-color: var(--color-primary);
  scroll-behavior: smooth;
  font-family: "Inter", sans-serf;
}

::-webkit-scrollbar {
  display: none;
}
@layer components {
  .max-padd-container {
    @apply mx-auto max-w-[1440px] px-4 lg:px-12;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }
  .flexStart {
    @apply flex items-center justify-start;
  }
  .flexEnd {
    @apply flex items-center justify-end;
  }
  .btn-solid {
    @apply px-6 py-3 active:scale-95 transition bg-solid rounded-full border border-gray-50/20 cursor-pointer text-white text-sm font-medium;
  }
  .btn-light {
    @apply px-6 py-3 active:scale-95 transition cursor-pointer  bg-gray-500/15 border border-gray-500/30 rounded-full text-blue-500 text-sm font-medium
  }
  .btn-outline {
    @apply px-6 py-3 active:scale-95 transition cursor-pointer  border-gray-500/15 border rounded-full text-blue-500 text-sm font-medium
  }
  .btn-white {
    @apply px-6 py-3 rounded-full cursor-pointer active:scale-95 transition text-blue-500 text-sm font-medium
  }
}